# Byte-compiled files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/

# Distribution files
build/
dist/
*.egg-info/

# Environment variables and secrets
.env

# IDE and editor files
.idea/
.vscode/
*.swp

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db
